@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Moonrocks&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* overflow: hidden;e */
  user-select: none;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(51, 18, 73, 0.89);
}
.dashboard {
  margin-top: 3rem;
  padding: 10px 40px;
  border-radius: 13px;
  border: 3px solid white;
  width: 50%;
  height: 100px;
  background-color: rgba(0, 255, 255, 0.445);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left img {
  margin-right: 15px;
  width: 170px;
}
.left h1 {
  word-spacing: 12px;
  color: #fff;
  font-size: medium;
}
.mid{
  /* background-color: green; */
  position: relative;
  top: 27px;
  right: 30px;
}
.mid h5{
  color: rgba(51, 18, 73, 0.89);
opacity: 70%;
  font-size: .7rem;
  text-align: center;
}
.right {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  bottom: 18px;
  border: 3px solid white;
  border-top: none;
  text-align: center;
  border-radius: 12px;
  width: 120px;
  color: #fff;
  background-color: rgb(42, 175, 135);
  padding-bottom: 0.1rem;
}
.right p {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.05rem;
  font-weight: 200;
}
.circle h1 {
  font-size: 1.47rem;
  color: rgba(51, 18, 73, 0.89);
}
.circle {
  margin-top: 2rem;
  text-align: center;
  border: none;
  width: 3rem;
  height: auto;
  border-radius: 50%;
  background-color: #fff;
}
.instructions {
  margin-top: 2rem;
  color: #fff;
  font-size: 20px;
}
.middle {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 37%;
  flex-wrap: wrap;
}
.middle img {
  cursor: pointer;
  transition: 0.24s all ease-in-out;
  margin: 1rem;
  width: 170px;
}
.middle img:hover {
  transform: scale(1.13);
}
button:hover {
  transform: scale(1.1);
}
.result {
  margin-top: 5rem;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: #fff;
}
.bottom {
  margin: 5rem 1rem;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: #fff;
}
.user,
.cpu,
.eachResult,
.finalResult,
.userScore,
.cpuScore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.3rem 2rem;
  font-size: 0.9rem;
}

.bottom img {
  /* transition: 0.24s all ease-in-out; */
  width: 160px;
}
button {
  cursor: pointer;
  color: #fff;
  background-color: rgb(42, 175, 135);
  transition: 0.1s all ease;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin-top: 1rem;
  width: 150px;
  font-size: 1.2rem;
  font-weight: 400;
  box-shadow: 0 5px #999;
}
.finalResult p {
  text-align: center;
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
